*{
          box-sizing: border-box;
 }


 body{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding:0px;
    height: 100%;

}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .2fr, 1.5fr, 1.2fr, .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main content content content"
    "main content content content"
    "main content content content"
    ;
}

nav{
    grid-area: nav;
    background-color: #002347;
    display: flex;
    justify-content: space-around;
    
}

main{
    grid-area: main;
    background: #000017;
    height: 100%;
    min-height: 100vh;
   
}



.content{
    grid-area: content;
}



.logo{
    padding: 1em;
    display: flex;
}
.logo img{
    width: 4em;
    height: 4em;
    padding: .5em;
    
}
.login-btn{
    text-decoration: none;
    color: white;
    background-color: #e82048;
    padding: 1em;
    margin: 1em;
    border-radius: 6px;
}
.nav-list{
    text-decoration: none;
    padding: 1.2em;
}
.nav-list .list-items{
    display: inline-block;
}
.side-list li a{
    text-decoration: none;
    color: white;

}
.side-list{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.side-list li{
    padding: 1em;
    margin: 0em;
    

}

.side-list li:hover{
    background-color: #e82048 ;
}

.active{
    background-color: #e82048 ;
}
.content-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .3fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    
    "date date date"
    "content1 content2 content3"
    "content4 content5 content6"
    "content7 content8 content9"
    ;
    text-align: center;
    gap: .1em;
}
.content-date{
    grid-area: date;
    padding: .4em;
    margin: .4em;
 
    
    color: black;
    font-weight: 900;
}
.content1, .content2, .content3, .content4,
.content5, .content6, .content7, .content8, .content9{
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    background-color: #00AC17;
  
}

.content1{
    grid-area: content1;
}
.content2{
    grid-area: content2;
}
.content3{
    grid-area: content3;
}
.content4{
    grid-area: content4;
}

.content5{
    grid-area: content5;
}
.content6{
    grid-area: content6;
}
.content7{
    grid-area: content7;
}

.content8{
    grid-area: content8;
}
.content9{
    grid-area: content9;
}




.enrollees{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas:
    "head head head"
    "con con con"
    "con con con"
    
    ; 
    color: black;
}

.head{
    grid-area: head;
    color: black;
    padding: 1em;
    margin:1em;
    font-size: .5em;
    

}

.head h1{
    text-align: center;
}
.filter-drawer form{
    display: flex; 
    margin: 0 -10px;
   
     
}

.filter-drawer select{
    width: 35%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 0 10px;
}

.filter-drawer input{
    width: 50%;
}

.filter-drawer button{
    padding: 12px 20px;
}
.con{
    grid-area: con;
    padding: 1em;
    
}
.con table{
    min-width: 100%;
    min-height: 100%;
}
.con a{
    text-decoration: none;
    color: black;
    
    font-size: 1em;
}
.con a:hover{
    color: #00AC17;
}
.con .buttons{
    text-align: center;

}

.con th{
    background-color: #002347;
    color: white;
    border-collapse: collapse;
}
.con th,td{
    padding: .4em;
    cursor: pointer;
}
.con tr:hover{
    color: darkgrey;
}

.login-btn{
    text-decoration: none;
    color: white;
    background-color: #00AC17;
    padding: 1em;
    margin: 1em;
    border-radius: 6px;
}


.full-bg{
    height: 90%;
    width: 70%;
}
.enrollees_indi{
    color: black;
    padding: 1em;
    margin: 1em;
}
.basic{
   
    text-align: center;
}
.enrollees_indi table{
    max-width: 100%;
}

.enrollees_indi th{
    background-color: #00AC17;
    color: white;
    border-collapse: collapse;
}
.enrollees_indihead{
    display: flex;
    justify-content: space-between;
}
.enrollees_indihead a{
    color: black;
    text-decoration: none;
}
#documents{
    display: none;
}


.enrollees_indibody a{
    text-decoration: none;
    color: white;
    padding: .4em;
    background-color:#002347;
    border-radius: 10px;

}
.enrollees_indibody a:hover{
    background-color:#064a8d;
}

.caption{
    text-align: center;
    font-weight: bold;
    margin: 0;
    
   
}

.caption a:hover{
    background-color: #00AC17;
    color: white;
}

.caption a{
    padding: .5em;
    margin: .5em;
    border: 1px solid black;
    border-radius: 10px;
    

}
.modal-bg{
    font-size: 2em;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s;

    
}
.modal_active{
    visibility:visible;
    opacity: 1;
}
.modal{
    background-color: white;
   color: black;
    width: 20%;
    height: 20%; 

    margin: 2em;
   border-radius: 10px;
    
}
.modal-p{
  padding: .7em;
}

.tab8{
    tab-size: 8;
}

.modal-footer{
  background-color: #00AC17;
  padding: .6em;
  
  
  color: white;
 
}
.footer-title{
    display: flex;

    font-size: 1em;
   
}
.footer-title img{
    width: 4em;
    height: 4em;
    padding: .5em;
    
    
}
.Confirm_btn{
    background: none;
}

.fixed-button{
    position: fixed;
    bottom: 0;
    right: 0;
    transform-origin: center right;
}

.approval-form{
    padding: 2em;
    margin: 2em;
    display: grid;
    grid-template-areas: 
    "headapp headapp headapp"
    "appbody appbody appbody"
    "appbody appbody appbody"   
    ;
}

.headapp{
    grid-area: headapp;
    width: 100%;
    text-align: center;
   
    background-color: #00AC17;
    
    
}
.headapp p{
    font-weight: 900;
    font-size: 2em;

}
.appbody{
    grid-area: appbody;
    min-height: 100vh;
    color: black;
    height: 100%;

}

.appbody input,select,button{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
    
}
.appbody table{
    width: 100%;
    padding: 1em;
}
.appbody h1{
    padding-left: 1em;
}

.appbodyhead{
    display: flex;
    justify-content: space-between;
}
.appheadbutton{
    padding: 3em;
}
.appbodyhead a{
    color: black;
    text-decoration: none;
}
.appbody button{
    background-color: #00AC17;
    color: white;
    border-radius: 10px;
}
.remarksbtn a{
    color: white;
    font-size: .7em;
    width: 10%;
    border-radius: 10px;
    background-color: #00AC17;
    padding: 12px 20px;
}

.section_dashboard{
    display:grid;
    grid-template-areas: 
    "headsec headsec headsec"
    "secbody secbody secbody"
    "secbody secbody secbody"
    "secbody secbody secbody"   
    ;

}