*{
          box-sizing: border-box;
 }


 body{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding:0px;

}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .2fr, 1.5fr, 1.2fr, .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main content content content"
    "main content content content"
    "main content content content"
    ;
}

nav{
    grid-area: nav;
    background-color: #002347;
    display: flex;
    justify-content: space-around;
}

main{
    grid-area: main;
    background: #000017;
}

.content{
    grid-area: content;
}

.logo{
    padding: 1em;
    display: flex;
}
.logo img{
    width: 4em;
    height: 4em;
    padding: .5em;
    
}
.login-btn{
    text-decoration: none;
    color: white;
    background-color: #00AC17;
    padding: 1em;
    margin: 1em;
    border-radius: 6px;
}
.nav-list{
    text-decoration: none;
    padding:.5em;
}
.nav-list .list-items{
    display: inline-block;
}