*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 body{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding:0px;

}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .2fr, 1.5fr, 1.2fr, .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "content content content content"
    "footer footer footer footer"
    ;
}

nav{
    grid-area: nav;
    background-color: #002347;
}

main{
    grid-area: main;
}
footer{
    background: #000017;
    grid-area: footer;
    bottom: 0;
}
.content{
    grid-area: content;
}

.footer-title{
    display: flex;

    font-size: 1em;
   
}
.footer-title img{
    width: 4em;
    height: 4em;
    padding: .5em;
    
    
}
.content-footer{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: .2em;
    margin: .2em;
    white-space: normal;
    justify-content: space-between;
    

.content-footer li{
    list-style: none;
    
    
}
.quicklinks,
.content-footer-contact{
    
    font-size: .6em;
    
    
}
.quicklinks a{
   color: white;
   text-decoration: none;
}
.quicklinks h4,
.content-footer-contact h4{
    font-size: 2em;
}

.content-footer-main{
    display: flex;
    
}