*{
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding:0px;

}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .2fr, 1.5fr, 1.2fr, .8fr;
    
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "content content content content"
    "footer footer footer footer"
    ;

}
nav {
    background: #002347;
    grid-area: nav;
    display: flex;
    justify-content: space-around;

    

}
.headerforForm{
    display: flex;
    justify-content: space-around;
}
.nav-date{
        padding: 1.323em;
        margin-left: 0;
    
        


}
.nav-list{
    text-decoration: none;
}
.nav-list .list-items{
    display: inline-block;
}
.logo{
    padding: 1em;
    display: flex;
}
.logo img{
    width: 4em;
    height: 4em;
    padding: .5em;
    
}
.center{
    justify-content: space-around;

}
.login-btn{
    text-decoration: none;
    color: white;
    background-color: #00AC17;
    padding: 1em;
    margin: 1em;
    border-radius: 6px;
}
footer{
    background: #000017;
    grid-area: footer;
    bottom: 0;
    
    

}
main{
    grid-area: main;
    background-image: url(/enrollmentsystemfinal/img/QCU_COVER.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    
}
.full-height{
    height: 100%;
}
.cover-txt h2, h1{
    margin: 1.5rem;
    
    
}


.cover-box{
   padding-top: 9rem;
   text-align: center;
   color: black;
}

.contents{
    grid-area: content;
    
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }
  .content-cover{
    display: flex;
    
  }
  .content{
      color: black;
      padding: 1em;
      margin: 1em;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
  }
  .content1{
    color: black;
    padding: 1em;
    margin: 1em; 
  }
  .enroll{
    color: black;
    padding: 1em;
    margin: 1em;
  }

  .no-bg{
    background-image: none;
  }
  .content h4{
      text-align: center;
      font-size: 1.3em;
      font-weight: 900;
  }
  .content-cour-title h2{
    text-align: center;
    color: black;
  }

  .content-cour{
      display: flex;
  }
  .content-cour-con{
      color:white;
      padding: 1em;
      margin: 1em;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      text-align: center;
      background-color: #e82048 ;
  }
  .content-cour-con i{
    font-size: 3em;
    
  }

 .campus{
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    
    color: black;
 }

 .content-footer{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: .2em;
    margin: .2em;
    white-space: normal;
    justify-content: space-between;
    

 }

 .footer-title{
     display: flex;

     font-size: 1em;
    
 }
 .footer-title img{
     width: 4em;
     height: 4em;
     padding: .5em;
     
     
 }

 .content-footer li{
     list-style: none;
     
     
 }
 .quicklinks,
 .content-footer-contact{
     
     font-size: .6em;
     
     
 }
 .quicklinks a{
    color: white;
    text-decoration: none;
 }
 .quicklinks h4,
 .content-footer-contact h4{
     font-size: 2em;
 }

 .content-footer-main{
     display: flex;
     
 }
 .enrollment-form,
 .loginform{
    margin: 2em;
    padding: 1em;
 }
.form-bg{
    
    padding: 3em;
    background-color: #002347;
    color: white;
    display: inline-block;
    border-radius: 10px;
    text-align: center;

}

.not-center{
    text-align: right;
}
.white-bg{
    background-color: white;
    color: black;
}
.form-bg1{
    

    background-color: #002347;
    color: white;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: .5em;
    margin: 1em;
    

}

.td1{
    padding: 1em;
    margin: 1em;
    
}

.data1{
    border: 1px solid white;
}
.form-bg input, button{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
    border-radius: 10px;
}
.form-bg1 button{
    
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 1em;
    border-radius: 10px;
    font-size: 15px;
}
.enrollment-form-bg input, button, select{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
    border-radius: 10px;
}
.enrollment-form-bg input, select{
    text-transform: uppercase;
}




.form-bg button[type=submit]{
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;
    background-color: #00AC17;
    border-radius: 6px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;

}
.form-bg button[type=button]{
    padding: 1em;
    margin: 0;
    margin-bottom: 1em;
    background-color: #00AC17;
    border-radius: 6px;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.fixed-button{
    position: fixed;
    right: 0;
    transform-origin: center right;
}
.hidden{
    display: none;
}
.enrollment-form-bg{
    
    padding: 3em;
    background-color: #002347;
    color: white;
  
    border-radius: 10px;
}

.choose::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: #e82048 ;
    border: 1px black;
    padding: 1em;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em; 
  }

  .form-data8{
      display: flex;
      align-items: center;

  }
  .file1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    
    
  }

input[type=file]::file-selector-button{
    color: white;
    display: inline-block;
    background: #e82048 ;
    border: 1px black;
    padding: 1em;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em; 
  }
  .filecat{
    border: 10px black;
  }

tr{
    border: 1px solid black;
}

.data{
  text-align: center;
  color: #e82048;
}
.danger{
  background-color:#e82048;
  padding: 1em;
  border-radius: 8px;
  margin: 1em;
  text-align: left; 
}
.guidelines{
  background-color: #00AC17;  
  padding: 1em;
  border-radius: 8px;
  margin: 1em; 
  text-align: left;
}
.enrollment-form-table{
    background-color: #002347;
    margin: 1em;
    border-radius: 8px;
    padding: 1em;
  }
  .enrollment-form-table tr{
    border-color: black;
    
  }
  .enrollment-form-table input{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
  }

  .preloader{
    background-position: cover;
    
    color: black;
  }
  .preloader img{
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }
  .prog{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;

  }
  .model-confirm{
      background-color: #3366CC;
  }

.modal-bg{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.4s;

      
  }
  .modal_active{
      visibility:visible;
      opacity: 1;
  }
  .modal{
      background-color: white;
     color: black;
      width: 50%;
      height: 50%; 
 
      margin: 2em;
     border-radius: 10px;
      
  }
  .modal-p{
    padding: .7em;
  }
  
  .tab8{
      tab-size: 8;
  }

.modal-footer{
    background-color: #00AC17;
    padding: .6em;
    
    
    color: white;
   
}
.status-btn{
    background-color: #00AC17;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;

}
.status-btn-doc{
    background-color: #e82048;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
}